@{
  var id = (int?)ViewData["Id"] ?? default!;
  var village = VillagesModel.Village(id);
  var people = (int?)ViewData["People"] ?? default!;
  VillagesModel.Replace(id, new Village(village.Name, people));
}

<div style="font-size: 1.5rem;" class="text-center">
  Panie, wieś <b>@village.Name</b> teraz liczy <b>@people</b> mieszkańców;
  <form action="/village/@id">
    <input type="submit" value="wróć">
  </form>
</div>